body {
  background: #ffffff;
  font-family:Verdana,Arial, serif;
  color: #1c1c1c;
  margin: 0;
  padding: 40px 80px;
  line-height: 1.6;
}


#header_info {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 2px solid rgb(27, 118, 89);
   padding-bottom: 20px;
   margin-bottom: 15px;
   background-color:#f5f9f8
}

#name h1{
   margin: 0px;
   font-size: 30px;
}

#name h2{
   margin: 4px 0 0 0;
   font-size: 16px;
   color: rgb(16, 128, 130);
   font-weight: 600;
}

#personal_info{
   text-align: right;
}

#personal_info ul{
   list-style: none;
   margin: 0;
   padding: 0;
   font-size: 14px;
   color: #5b6b6a;
}

#personal_info li{
   margin: 3px 0;
}

#short_info{
   background-color:#f5f9f8;
   padding: 10px 15px;
   margin-bottom: 20px;
   color: #1c1c1c;
   font-size: 15px;
   border-left: 4px solid rgb(16, 128, 130);
}

#main-content{
   display: grid;
   grid-template-columns: 2fr 1fr;
   gap: 30px;
}

#main-content h2{
   border-bottom: 2px solid rgb(27, 118, 89);
   padding-bottom: 4px;
   text-transform: uppercase;
   margin-bottom: 8px;
   color: rgb(27, 118, 89);
   font-size: 18px;
}

#main-content h3{
   font-size: 16px;
   margin: 10px 0px 0px 4px;
}

#main-content p{
   margin-bottom: 10px;
}

#main-content ul{
   margin-left: 20px;
   color: #5b6b6a;
}

#main-content li {
  margin-bottom: 5px;
}

#personal_profile{
   background-color:#f5f9f8;
   padding: 0px 10px 10px 10px;
}

#personal_formation{
   background-color:#f5f9f8;
   padding: 0px 10px 10px 10px;
}

#sports_exp{
   background-color:#f5f9f8;
   padding: 0px 10px 10px 10px;
}

#language{
   background-color:#f5f9f8;
   padding: 0px 10px 10px 10px;
}

#skills{
   background-color:#f5f9f8;
   padding: 0px 10px 10px 10px;
}

#skills ul{
   display: flex;
   flex-wrap: wrap;
   gap: 8px;
   list-style: none;
   padding: 0px;
}

#skills li{
   background-color: rgb(27, 118, 89);
   color: #ffffff;
   padding: 5px 10px;
   font-size: 13px;
}